.padre4{
    background-color: rgb(183, 94, 94);
    padding: 5em;
}

.titulosPadre4{
    color: rgb(88, 24, 24);
    padding: 1em;
}

.parrafosPadre4{
    color: black;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:500px){
    
}

@media (min-width:768px){
    
}

@media (min-width:1024px){

}