
/* MAP*/

$info: (
    numeros: #3f5c8f,
    email: #55acee,
    horarios: #C25E30,
);
@each $nosotros, $color in $info{
    .btn--#{$nosotros}{
        background-color: $color;
    }
}

/*Extend*/

.estilosExtend{
    border: 4px solid black ;
    background-color: yellow;
}

.pruebaExtend{
    @extend .estilosExtend;
}

/*Mixin*/

@mixin color($background-color){
    background-color: $background-color;
}

.parrafoPadre3{
    @include color (yellow);
}


