
/*Extend*/

.estilosExtend{
    border: 4px solid black ;
    background-color: rgb(88, 24, 24);
}

.pruebaExtend{
    @extend .estilosExtend;
}

/*Mixin*/

@mixin color($background-color){
    background-color: $background-color;
}

.parrafoPadre3{
    @include color (rgb(88, 24, 24));
}


