@import "variableGlobal";
@import "fuentes";
@import "generales";
@import "ofrecemos";
@import "nosotros";
@import "contacto";
@import "staff";
@import "operaciones";

/*declaro las áreas de mi grilla*/

.articleFranquicias{
    background-color: $backgroundRGB;
}

nav{
    grid-area: nav;
}

.galeriaFranquicias{
    grid-area: galeria;
    background-color: $backgroundRGB;
}

/*empieza Responsive Design*/

@media (min-width:500px){ 
    
}

@media (min-width:768px){

    .fondoNav{
        background: linear-gradient(90deg, rgb(36, 1, 0) 0%, rgb(235, 18, 12) 100%, rgb(0, 212, 255) 100%, rgb(121, 9, 9) 100%);
    }

.parrafoPadre1{
        color: black;
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:15px;
        margin: 0;
        margin-bottom: 1em;
    }
    img{
        width: 200px;
        height: 150px;
        border: 5px solid black;
    }
    footer{
        background: rgb(36,1,0);
        background: linear-gradient(90deg, rgb(36, 1, 0) 0%, rgb(235, 18, 12) 100%, rgb(0, 212, 255) 100%, rgb(121, 9, 9) 100%);
    }
}

@media (min-width:1024px){

    
    body{
        background-color: rgb(183, 94, 94);
    }
    
    .padre{
        padding: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        margin: 0;
    }
    img{
        width: 311px;
        height: 310px;
        margin-top: 20px;
    }
    .parrafoPadre3{
        margin-top: 1em;
        line-height: 30px;
    }
}
