@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: end;
  padding-top: 2em;
  font-size: large;
}

.fondoNav {
  background: rgb(88, 24, 24);
}

h2 {
  color: rgb(88, 24, 24);
}

nav ul li {
  list-style-type: none;
}

nav ul, h1, p, h3, h4 {
  color: rgb(11, 10, 10);
}

a {
  color: rgb(88, 24, 24);
}

footer {
  padding: 5em;
  background-color: rgb(88, 24, 24);
  margin-bottom: 0;
  margin-top: 0;
}

img {
  border: 8px solid black;
  width: 300px;
  height: 250px;
  margin-top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgLogo {
  border: none;
  width: 50px;
  height: 50px;
}

.padre {
  background-color: rgb(183, 94, 94);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  justify-items: center;
}

nav {
  grid-area: nav;
}

.containerOfrecemos ul li {
  list-style-type: none;
}

.padre2 {
  background-color: rgb(183, 94, 94);
}

.parrafoPadre2 {
  color: black;
}

.titulosPadre2 {
  color: rgb(88, 24, 24);
  padding: 1em;
}

iframe {
  padding: 1em;
  width: 350px;
  height: 250px;
}

@media (min-width: 1024px) {
  iframe {
    width: 860px;
    height: 615px;
  }
}
.carousel-item {
  padding: 2em;
}

.padre3 {
  background-color: rgb(183, 94, 94);
}

.parrafoPadre3 {
  color: black;
  padding: 3em;
}

.tituloPadre3 {
  padding: 2em;
}

.map-responsive {
  width: 350px;
  height: 200px;
}

.map-responsive iframe {
  width: 350px;
  height: 200px;
}

@media (min-width: 500px) {
  .carousel-item {
    padding: 2em;
  }
}
@media (min-width: 768px) {
  .imgCarousel {
    width: 600px;
    height: 400px;
    border: 5px solid black;
  }
  .carousel-item {
    padding: 2em;
  }
}
@media (min-width: 1024px) {
  .imgCarousel {
    width: 496px;
    height: 400px;
    margin-top: 20px;
  }
  .carousel-item {
    padding: 3em;
  }
}
.padre4 {
  background-color: rgb(183, 94, 94);
  padding: 5em;
}

.titulosPadre4 {
  color: rgb(88, 24, 24);
  padding: 1em;
}

.parrafosPadre4 {
  color: black;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAP*/
.btn--numeros {
  background-color: #3f5c8f;
}

.btn--email {
  background-color: #55acee;
}

.btn--horarios {
  background-color: #C25E30;
}

/*Extend*/
.estilosExtend, .pruebaExtend {
  border: 4px solid black;
  background-color: yellow;
}

/*Mixin*/
.parrafoPadre3 {
  background-color: yellow;
}

/*declaro las áreas de mi grilla*/
.articleFranquicias {
  background-color: rgb(183, 94, 94);
}

nav {
  grid-area: nav;
}

.galeriaFranquicias {
  grid-area: galeria;
  background-color: rgb(183, 94, 94);
}

/*empieza Responsive Design*/
@media (min-width: 768px) {
  .fondoNav {
    background: linear-gradient(90deg, rgb(36, 1, 0) 0%, rgb(235, 18, 12) 100%, rgb(0, 212, 255) 100%, rgb(121, 9, 9) 100%);
  }
  .parrafoPadre1 {
    color: black;
  }
  .padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 0;
    margin-bottom: 1em;
  }
  img {
    width: 200px;
    height: 150px;
    border: 5px solid black;
  }
  footer {
    background: rgb(36, 1, 0);
    background: linear-gradient(90deg, rgb(36, 1, 0) 0%, rgb(235, 18, 12) 100%, rgb(0, 212, 255) 100%, rgb(121, 9, 9) 100%);
  }
}
@media (min-width: 1024px) {
  body {
    background-color: black;
  }
  .padre {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    margin: 0;
  }
  img {
    width: 311px;
    height: 310px;
    margin-top: 20px;
  }
  .parrafoPadre3 {
    margin-top: 1em;
  }
}/*# sourceMappingURL=style.css.map */